// variables

// fonts
@import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
$font-primary: 'Segoe UI', sans-serif;

// colors
$color-primary: #0e7fff;
$color-text: #74818D;
$color-light-gray: #eee;
$color-white: #fff;
$color-black: #000;