
.main-layout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background:#eee;
    min-width: 400px;
    min-height: 90vh;

    @media(max-width:1000px) {
        min-height: 100vh;
    }
}