@import '../../globals.scss';

.main-layout {
    padding:0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    background:$color-light-gray;
    min-width: 375px;
    min-height: 96vh;

    @media(max-width:1000px) {
        min-height: 100vh;
    }
}